/* line 5, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/style.scss */
body {
  background-color: #111;
}

/* line 14, ../sass/style.scss */
a {
  text-decoration: none;
}

/* line 18, ../sass/style.scss */
header {
  line-height: 64px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 0 26px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
/* line 27, ../sass/style.scss */
header .logo {
  float: left;
  margin: 17px 0 0;
  width: 162px;
  height: 30px;
  background: url("../images/logo.png") left top no-repeat;
}
/* line 34, ../sass/style.scss */
header nav {
  display: inline-block;
}
/* line 37, ../sass/style.scss */
header nav ul li {
  display: inline-block;
}
/* line 39, ../sass/style.scss */
header nav ul li a {
  padding: 0 20px;
  color: #352c2e;
  font-size: 21px;
  font-weight: lighter;
  font-family: linkin-font,sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

/* line 55, ../sass/style.scss */
.bkgnd {
  background: url("../images/bkgnd.jpg");
  background-position-y: -30px;
  background-size: cover;
  height: 1370px;
  max-width: 934px;
  margin: 0 auto;
  padding-top: 300px;
}
/* line 64, ../sass/style.scss */
.bkgnd h1 {
  font-size: 50px;
  text-align: center;
  font-weight: lighter;
  padding: 30px 0;
  color: whitesmoke;
  font-family: linkin-font, sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 76, ../sass/style.scss */
.bkgnd .statement {
  text-align: center;
  padding-top: 280px;
}
/* line 83, ../sass/style.scss */
.bkgnd .statement span {
  background: rgba(255, 255, 255, 0.85);
  color: #352C2E;
  margin: 0 auto;
  padding: 3px 36px;
  text-align: center;
  font-family: linkin-font,sans-serif;
  font-size: 18px;
  line-height: 36px;
}

/* line 96, ../sass/style.scss */
.avatar {
  background: url("../images/avatar.jpg");
  background-position-y: -192px;
  background-size: cover;
  width: 100%;
  height: 137px;
  margin-top: 239px;
}

/* line 106, ../sass/style.scss */
.banner a {
  background: url("../images/banner.jpg") left top no-repeat;
  width: 100%;
  height: 100px;
  display: inline-block;
  background-position: -300px;
}

/* line 115, ../sass/style.scss */
.map {
  width: 600px;
  margin: 50px auto;
}
/* line 118, ../sass/style.scss */
.map .jvectormap-zoomin,
.map .jvectormap-zoomout {
  display: none;
}

/* line 125, ../sass/style.scss */
footer {
  line-height: 64px;
  background: rgba(255, 255, 255, 0.9);
  color: #111111;
  padding: 0 26px;
  margin: 0 auto;
}
/* line 131, ../sass/style.scss */
footer .mark {
  margin: 3px 0 0;
  float: left;
  width: 44px;
  height: 57px;
  background: url("../images/mark.png") left top no-repeat;
}
/* line 138, ../sass/style.scss */
footer ul {
  float: right;
}
/* line 140, ../sass/style.scss */
footer ul li {
  display: inline-block;
}
/* line 143, ../sass/style.scss */
footer ul li a span {
  margin: 3px 0 0;
  padding: 0 20px;
  color: #352c2e;
  font-size: 21px;
}

@font-face {
  font-family: "linkin-font";
  src: url("fonts/signal-no3-d-webfont.woff") format("woff");
}
/* line 161, ../sass/style.scss */
.clearfix:after, .clearfix:before {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: 'SocialIcon';
  src: url("fonts/SocialIcon.eot?hq0q6a");
  src: url("fonts/SocialIcon.eot?#iefixhq0q6a") format("embedded-opentype"), url("fonts/SocialIcon.woff?hq0q6a") format("woff"), url("fonts/SocialIcon.ttf?hq0q6a") format("truetype"), url("fonts/SocialIcon.svg?hq0q6a#SocialIcon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 182, ../sass/style.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'SocialIcon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 196, ../sass/style.scss */
.icon-google-plus:before {
  content: "\ea88";
}

/* line 200, ../sass/style.scss */
.icon-facebook:before {
  content: "\ea8c";
}

/* line 204, ../sass/style.scss */
.icon-twitter:before {
  content: "\ea91";
}

/* line 208, ../sass/style.scss */
.icon-picassa:before {
  content: "\eaa4";
}

/* line 212, ../sass/style.scss */
.icon-pinterest:before {
  content: "\ead0";
}
